<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Login page</title>
</head>
<body>
    <p>Congraluation , you have logged in</p>
 <p><a href="https://motor-design.auth.ap-south-1.amazoncognito.com/login?client_id=6ukesdvvcm31ij4og6t9mgj2fk&response_type=code&scope=email+openid+phone&redirect_uri=http%3A%2F%2Flocalhost%3A8000%2Flogged_in.html">Logout</a></p>
    
    <!--   <p><a href="https://motorz.auth.ap-south-1.amazoncognito.com/login?client_id=5kt893lvt0fi98355s3puvmmpa&response_type=code&scope=email+openid+phone&redirect_uri=http%3A%2F%2Flocalhost%3A8000%2Flogged_in.html">Logout 2</a></p> -->
</body>
</html>